.user-grid-list {
    padding: 1rem;
    app-user-grid-list-item {
        margin-bottom: 0.5rem;
        cursor: pointer;
        overflow: hidden;
        overflow: hidden;
        position: relative;
    }
    .mat-ripple {
        overflow: hidden;
    }
}
